{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}
<style>
    
</style>
<div class="container-fluid">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<div class="container-fluid">
  {{ form_start(form) }}
  {{ form_row(form.annee) }}
  <button type="submit">Générer</button>
  {{ form_end(form) }}
</div>
{% if visible %}
<div class="container">
    <canvas id="myChart" width="500" height="150" class="mb-5"></canvas>
</div>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var mois={{ mois | raw }};
  var valeurs={{ valeurs | raw }};
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: mois,
          datasets: [{
              label: 'Nombre des commande d\'un produit par mois durant un ans',
              data: valeurs,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% else %} {% endif %} {% endblock %}
