
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cardio: Free One Page Template by Luka Cvetinovic</title>
    <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="Luka Cvetinovic for Codrops" />
    <link
            href="//fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicons/apple-touch-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicons/apple-touch-icon-60x60.png')}}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-32x32.png')}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-16x16.png')}}" sizes="16x16">
    <link rel="manifest" href="{{ asset('img/favicons/manifest.json')}}">
    <link rel="shortcut icon" href="{{ asset('img/favicons/favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="{{ asset('img/favicons/browserconfig.xml')}}">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css')}}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/owl.css')}}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.1.0/css/font-awesome.min.css')}}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/eleganticons/et-icons.css')}}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cardio.css')}}">
</head>

<body>
<div class="preloader">
    <img src="{{ asset('img/loader.gif')}}" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset('img/logo std.png')}}" data-active-url="{{ asset('img/logo-active.png')}}" style="background-color: none;width:100px;height:60px;" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a class="nav-link active n" aria-current="page"  href="{{ path('app_accueil') }}#accueil">Accueil</a></li>
                <li><a href="#services">Catégories</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{ path('app_chercher_fournisseurs') }}">Recherche</a></li>
                <li><a href="{{ path('app_login') }}"  class="btn btn-blue">Connexion</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--  style="background: url({{ asset('img/header.jpg')}})"-->
<header id="accueil">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="light white">L'univers de la construction est près de chez vous.</h3>
                        <h1 class="white typed">ServicesToDar vous met en relation avec tous les artisans.</h1>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content" style="font-size: large">" Grâce a service to dar j'ai pu trouvé un plombier près de chez moi en un rien de temps ! "</h4>
                            <h5 class="white heading light author"> Amel H - De Tunis Cliente</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content" style="font-size: large">" Grâce au professionnalisme de service to dar j'ai
                                pu contacter mes clients à distance et j'ai pu leur vendre des produits. "</h4>
                            <h5 class="white heading light author">Salah M - Gabes Menuisier</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content" style="font-size: large">" Grâce à Service to dar j'ai trouvé des agences de
                                déménagement prés de chez moi de qualité et de confiance sans aucune perte de temps. Ils proposent des prix abordables. "</h4>
                            <h5 class="white heading light author">Ahmed L - Tatawine Client</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2>Services</h2>
            <h4 class="light muted">Tous ce que vous avez besoins pour facilter vos quotidien.</h4>
        </div>
        <div
                class="container-fluid "
                id="categories"
        >
            <div class="row text-center mx-lg-3 mx-xxl-5 ">
                <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
                    <!-- <img src="{{asset('/img/categorie2.PNG')}}" alt="" class="rounded mx-auto d-block mb-5 img-thumbnail"  > -->
                    <div class="row mt-5">

                        {% for categorie in categories %}
                            {% if loop.index0 < 4 %}
                                <div class=" col-12 col-md-12 col-lg-3 col-xxl-3">
                                    <div class="afficher-categorie">
                                        <a href="{{path('app_categories_details',{'categorie':categorie.id})}}"><img src="{{ asset('/img/categories/'~ categorie.icone) }}" class="img-fluid cat" alt="{{ categorie.titre }}"></a>
                                        {# <p class="text-center sous-titre">{{ categorie.titre }}</p> #}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                    <div class="row">
                        <!--
                         Modal catégories

                        <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
                                <div class="col-12 col-md-12 col-lg-4 col-xxl-4">
                                    <button type="button" class="btn btn-blue-fill" data-bs-toggle="modal" data-bs-target="#categorieModal" >Voir la liste complète</button>

                                </div>
                                <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
                            </div>
                            <div class="row">
                                <div class="modal fade" id="categorieModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
                                                    <div class="col-12 col-md-12 col-lg-4 col-xxl-4">
                                                        <h1 class="h1 text-center titre mb-5">Liste des catégories </h1>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
                                                </div>
                                                <div class="row">
                                                    {% for categorie in categories %}
                                                        <div class=" col-12 col-md-12 col-lg-3 col-xxl-3">
                                                            <div class="afficher-categorie">
                                                                <a href="{{path('app_categories_details',{'categorie':categorie.id})}}"><img src="{{ asset('/img/categories/'~ categorie.icone) }}" class="img-fluid" alt="{{ categorie.titre }}"></a>
                                                                <p class="text-center sous-titre">{{ categorie.titre }}</p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cut cut-bottom"></div>
</section>
<section id="contact" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">CONTACTS</h2>
            <h4 class="light muted">
                <a style="color: black; font-size: large"
                   class="l"
                   href="https://www.google.com/maps/search/Manouba+p%C3%B4le+technologique/@36.8077892,10.0723618,17z/data=!3m1!4b1"
                   target="_blank"
                ><i class="fas fa-map-marker-alt" style="color: white;"></i><strong>Adresse:</strong> Saheelha B18, Pôle Technologique de la Manouba</a
                >


                <a style="color: black; font-size: large"
                   class="l"
                   href="https://www.google.com/maps/search/Manouba+p%C3%B4le+technologique/@36.8077892,10.0723618,17z/data=!3m1!4b1"
                   target="_blank"
                ><i class="fas fa-map-marker-alt" style="color: white;"></i><strong>Téléphone:</strong> 52817963</a
                >

                <a style="color: black; font-size: large"
                   class="l"
                   href="https://www.google.com/maps/search/Manouba+p%C3%B4le+technologique/@36.8077892,10.0723618,17z/data=!3m1!4b1"
                   target="_blank"
                ><i class="fas fa-map-marker-alt" style="color: white;"></i><strong>Email:</strong> contact@saheelha.com</a
                >
            </h4>
        </div>
        <div class=" col-xxl-6">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        {{
                        form_row(form.nom, {
                            attr: { class: "form-control", placeholder: "Nom..." }
                        })
                        }}
                        <div
                                id="errorName"
                                class="alert alert-danger"
                                role="alert"
                                hidden="true"
                        >
                            Le nom est obligatoire !
                        </div>
                    </div>
                    <div class="col">
                        {{
                        form_row(form.email, {
                            attr: { class: "form-control", placeholder: "Email..." }
                        })
                        }}
                        <div
                                id="errorEmail"
                                class="alert alert-danger"
                                role="alert"
                                hidden="true"
                        >
                            L'email est obligatoire !
                        </div>
                        <div
                                id="errorEmailNonValide"
                                class="alert alert-danger"
                                role="alert"
                                hidden="true"
                        >
                            Votre email est invalide !
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                {{
                form_row(form.message, {
                    attr: {
                        class: "form-control",
                        placeholder: "Taper votre Message ici..."
                    }
                })
                }}
                <div
                        id="errorMessage"
                        class="alert alert-danger"
                        role="alert"
                        hidden="true"
                >
                    Le message ne doit pas être vide !
                </div>
            </div>
            <div class="text-center d-grid gap-2 mt-5 mt-md-5 mt-lg-5 mt-5">
                <button type="submit" class="btn btn-blue" id="envoyer">
                    Envoyer
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</section>
<section id="pricing" class="section">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top white">QUI SOMMES NOUS ?</h2>
            <br>
            <h4 class="light white">Services to dar est une application web et mobile créée pour faciliter l'accès aux services de déménageurs et des artisans qu'on a besoin dans notre vie quotidienne et nos événements à travers une méthode moderne qui consiste à créer un réseau social professionnel reliant tous les prestataires de secteur de services et les clients par une plateforme en ligne.</h5>
        </div>
    </div>
</section>
<section class="section section-padded blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="owl-twitter owl-carousel">
                    <div class="item text-center">
                        <h4 class="white light">Welcome to</h4>
                        <h4 class="light-white light">#servicestodar</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white">Sign Up</h3>
            <form action="" class="popup-form">
                <input type="text" class="form-control form-white" placeholder="Full Name">
                <input type="text" class="form-control form-white" placeholder="Email Address">
                <div class="dropdown">
                    <button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pricing Plan
                    </button>
                    <ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">
                        <li class="animated lightSpeedIn"><a href="#">1 month membership ($150)</a></li>
                        <li class="animated lightSpeedIn"><a href="#">3 month membership ($350)</a></li>
                        <li class="animated lightSpeedIn"><a href="#">1 year membership ($1000)</a></li>
                        <li class="animated lightSpeedIn"><a href="#">Free trial class</a></li>
                    </ul>
                </div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="squaredOne" name="check" />
                        <label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="container">

        <div class="">
            <div class="col-sm-8">
                <p>&copy; SAHEELHA. Tous les droits sont réservés</p>
            </div>
            <div class="col-sm-4 text-right text-center-mobile">
                <ul class="social-footer">
                    <li><a href="http://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="{{ asset('js/jquery-1.11.1.min.js')}}"></script>
<script src="{{ asset('js/owl.carousel.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.min.js')}}"></script>
<script src="{{ asset('js/wow.min.js')}}"></script>
<script src="{{ asset('js/typewriter.js')}}"></script>
<script src="{{ asset('js/jquery.onepagenav.js')}}"></script>
<script src="{{ asset('js/main.js')}}"></script>
</body>

</html>
