{% extends "base.html.twig" %}
{% block title %}Mot de passe oublié {% endblock %}
{% block body %}
<style>
  .titre{
        color:#30a7ab;
        font-size: xx-large;
        text-decoration: none;
        text-transform: uppercase;
		font-weight:bold;
      }
      .titre span:hover{
        text-decoration: none;
        color: blue;
        width: auto;
      }
      footer{
    background-color: #1a2c2d;
    width: 100%;
    color: white;
    height: auto;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    font-family: calibre;
    margin-top: 25px;
  }
  footer div i{
    color: white;
  }
  footer i:hover{
        color: grey;
      }
  .connexion{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .connexion:hover{
    text-decoration: underline;
    color: dodgerblue;
  }
</style>
<div class="container-fluid">
  <br /><br /><br />
  <br /><br />
</div>
<div
  class="container-fluid my-5 mx-md-5 my-md-5 mx-lg-5 mx-xxl-5 my-lg-3 my-xxl-5"
>
  <div class="row mt-5 text-center mx-lg-3 mx-xxl-5 my-lg-3 my-xxl-5">
    <div class="col-12">
      <h1 class="h1 titre"><span>Mot de passe oublié</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
    <div class="col-12 col-md-6 col-lg-6 col-xxl-4">
      {{ form_start(form) }}
      {#form_row(form)#}
      <div class="form-group mt-3">
        {{
          form_row(form.email, {
            label: "Email ",
            attr: { class: "form-control", placeholder: "Adresse mail..." }
          })
        }}
        {% if error != '' %}
        <div class="alert alert-danger text-center mt-5" role="alert">
          {{error}}
        </div>
        {% endif %}
        <div
          id="errorEmail"
          class="alert alert-danger text-center mt-5"
          role="alert"
          hidden="true"
        >
        Ce champ est obligatoire !
        </div>
        <div
          id="errorInvalide"
          class="alert alert-danger text-center mt-5"
          role="alert"
          hidden="true"
        >
        Ce champ doit être une adresse email !
        </div>
      </div>

      <div class="text-center d-grid gap-2 mt-5 mt-md-5 mt-lg-5 mt-5">
        <button type="submit" class="btn btn-primary" id="envoyer">
          Envoyer
        </button>
      </div>
      {{ form_end(form) }}
      <div class="row text-center mt-5">
        <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
          <a href="{{path('app_login')}}" class="btn btn-link connexion"
            >Retourner vers la page précédente
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
    <div class="col-12 col-md-6 col-lg-6 col-xxl-4">
      <div id="info" class="alert alert-danger text-center mt-5" role="alert" hidden="true" >Maintenant, vous venez de recevoir un mail dans l'adresse que vous avez soumis dans le formulaire ci-dessus. Dans ce mail, vous allez trouver un lien qui vous mènera à un formulaire pour changer votre mot de passe.</div>
      <div id="alert" class="alert alert-warning text-center mt-5" role="alert" hidden="true">Attention, ce mail n'est valable qu'une seule journée !</div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
  </div>
</div>
<div class="container-fluid"><br /><br /><br /></div>
<footer>
  <div class="row">
   <div class="col-12 col-md-12 col-lg-12 col-xxl-12 text-center">
<p style="color:white;"><i class="fa fa-facebook-official w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-twitter w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-instagram w3-hover-opacity" style="color: white;"></i> <br> &copy; 2021 SAHEELHA. Tous les droits sont réservés</p>
   </div>
  </div>
</footer>
<script>
var valide=false;
var envoyer=document.getElementById('envoyer');
var email=document.getElementById('forgotten_password_email');
email.addEventListener('focus',function(e){
  if(this.value.length==0){
  let emailError=document.getElementById('errorEmail');
  emailError.hidden=false;
  let emailErrorV=document.getElementById('errorInvalide');
    emailErrorV.hidden=true;
  valide=false;
}
else{
  if(! siValide(this.value)){
    let emailError=document.getElementById('errorInvalide');
    emailError.hidden=false;
    let emailErrorT=document.getElementById('errorEmail');
  emailErrorT.hidden=true;
    valide=false;
  }
  else{
    valide=true;
  }
}
});
email.addEventListener('focusout',function(e){
  if(this.value.length==0){
  let emailError=document.getElementById('errorEmail');
  emailError.hidden=false;
  let emailErrorV=document.getElementById('errorInvalide');
    emailErrorV.hidden=true;
  valide=false;
}
else{
  if(! siValide(this.value)){
    let emailError=document.getElementById('errorInvalide');
    emailError.hidden=false;
    let emailErrorT=document.getElementById('errorEmail');
  emailErrorT.hidden=true;
    valide=false;
  }
  else{
    valide=true;
  }
}
});
envoyer.addEventListener('click',function(e){
  if(valide==false){
    e.preventDefault();
  }
});
function siValide(email){
  if(email.includes('@')){
    return true;
  }
  else{
    false;
  }
}
</script>
{% endblock %}
