{% extends "base.html.twig" %} {% block title %}Changer le mot de passe {%
endblock %} {% block body %}
<style>
  .titre{
        color:#30a7ab;
        font-size: xx-large;
        text-decoration: none;
        text-transform: uppercase;
		font-weight:bold;
      }
      .titre span:hover{
        text-decoration: none;
        color: blue;
        width: auto;
      }
      footer{
    background-color: #1a2c2d;
    width: 100%;
    color: white;
    height: auto;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    font-family: calibre;
    margin-top: 25px;
  }
  footer div i{
    color: white;
  }
  footer i:hover{
        color: grey;
      }

</style>
<div class="container-fluid">
  <br /><br /><br />
  <br /><br />
</div>
<div
  class="container-fluid my-5 mx-md-5 my-md-5 mx-lg-5 mx-xxl-5 my-lg-3 my-xxl-5"
>
  <div class="row mt-5 text-center mx-lg-3 mx-xxl-5 my-lg-3 my-xxl-5">
    <div class="col-12">
      <h1 class="titre"><span>Changer le mot de passe</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
    <div class="col-12 col-md-6 col-lg-6 col-xxl-4">
      {{ form_start(form) }}
      <div class="form-group mt-3 mx-3 mx-lg-0">
        {{form_row(form.password,{label:"Mot de passe :",attr:{class:"form-control",placholder:"Mot de passe..."



        }})}}
      </div>
      <div class="form-group mt-3 mx-3 mx-lg-0">
        {{form_row(form.confirmPassword,{label:"Retaper mot de passe :",attr:{class:"form-control",placholder:"Retaper le mot de passe..."



        }})}}
      </div>
      <div
        id="errorPasswordLongeur"
        class="alert alert-danger mt-3 text-center"
        role="alert"
        hidden="true"
      >
      Le mot de passe doit avoir au minimum une longueur de 5 caractères !
      </div>
      <div
        id="errorPassword"
        class="alert alert-danger mt-3 text-center"
        role="alert"
        hidden="true"
      >
      Les deux champs doivent être identiques !
      </div>
      {% if error == '' %} {% else %}
      <div
        id="errorPassword"
        class="alert alert-danger mt-3 text-center"
        role="alert"
      >
        {{ error }}
      </div>
      {% endif %}
      <div class="text-center mt-3">
        <button
          class="btn btn-primary text-center mt-3"
          type="submit"
          id="envoyer"
        >
          Envoyer
        </button>
      </div>
      {{ form_end(form) }}
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
    <div class="col-12 col-md-6 col-lg-6 col-xxl-4">
      <div
        id="info"
        class="alert alert-danger text-center mt-5"
        role="alert"
        hidden="true"
      >
      Maintenant, vous venez de recevoir un mail dans l'adresse que vous avez soumis dans le formulaire ci-dessus. Dans ce mail, vous allez trouver un lien qui vous mènera à un formulaire pour changer votre mot de passe.
      </div>
      <div
        id="alert"
        class="alert alert-warning text-center mt-5"
        role="alert"
        hidden="true"
      >
      Attention, ce mail n'est valable qu'une seule journée !
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
  </div>
</div>
<div class="container-fluid"><br /><br /><br /></div>
<footer>
  <div class="row">
   <div class="col-12 col-md-12 col-lg-12 col-xxl-12 text-center">
<p style="color:white;"><i class="fa fa-facebook-official w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-twitter w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-instagram w3-hover-opacity" style="color: white;"></i> <br> &copy; 2021 SAHEELHA. Tous les droits sont réservés</p>
   </div>
  </div>
</footer>
<script>
  var valider = [true, true];
  var envoyer = document.getElementById("envoyer");
  var password = document.getElementById("reset_password_password");
  var confirmPassword = document.getElementById(
    "reset_password_confirmPassword"
  );
  password.addEventListener("focus", function () {
    if (this.value.length < 5) {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = false;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[0] = false;
    } else {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = false;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[0] = true;
    }
  });
  password.addEventListener("focusout", function () {
    if (this.value.length < 5) {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = false;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[0] = false;
    } else {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = false;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[0] = true;
    }
  });
  confirmPassword.addEventListener("focus", function () {
    if (this.value == password.value) {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = true;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[1] = true;
    } else {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = true;
      let error = document.getElementById("errorPassword");
      error.hidden = false;
      valider[1] = false;
    }
  });
  confirmPassword.addEventListener("focusout", function () {
    if (this.value == password.value) {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = true;
      let error = document.getElementById("errorPassword");
      error.hidden = true;
      valider[1] = true;
    } else {
      let errorL = document.getElementById("errorPasswordLongeur");
      errorL.hidden = true;
      let error = document.getElementById("errorPassword");
      error.hidden = false;
      valider[1] = false;
    }
  });

  /////////////////
  envoyer.addEventListener("click", function (e) {
    if (siValide() == false) {
      e.preventDefault();
    }
  });
  function egale(el1, el2) {
    if (el1 === el2) {
      return true;
    } else {
      return false;
    }
  }
  function siValide() {
    if (valider[0] == true && valider[1] == true) {
      return true;
    } else {
      return false;
    }
  }
</script>
{% endblock %}
