{% extends 'base.html.twig' %} {% block title %}Modifier un produit{% endblock %}
{% block body %}
<style>
  .titre{
        color:#30a7ab;
        font-size: xx-large;
        text-decoration: none;
        text-transform: uppercase;
		font-weight:bold;
      }
      .titre span:hover{
        text-decoration: none;
        color: blue;
        width: auto;
      }
      footer{
    background-color: #1a2c2d;
    width: 100%;
    color: white;
    height: auto;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    font-family: calibre;
    margin-top: 25px;
  }
  footer div i{
    color: white;
  }
  footer i:hover{
        color: grey;
      }

    .imgs-prod{
      width: 100px;
      height: 100px;
    }

</style>
<div class="container-fluid">
  <br /><br /><br />
  <br /><br />
</div>
<div
  class="container-fluid my-5 mx-md-5 my-md-5 mx-lg-5 mx-xxl-5 my-lg-3 my-xxl-5"
>
  <div class="row mt-5 text-center mx-lg-3 mx-xxl-5 my-lg-3 my-xxl-5">
    <div class="col-12">
      <h1 class="titre"><span>Modifier un produit</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
    <div class="col-12 col-md-6 col-lg-6 col-xxl-4">
      {{ form_start(form) }}
      {#form_row(form)#}
      <div class="form-group mt-3">
        {{
          form_row(form.nom, {
            label: "Nom *",
            attr: { class: "form-control", placeholder: "Nom..." }
          })
        }}
        <div
          id="errorNom"
          class="alert alert-danger text-center"
          role="alert"
          hidden="true"
        >
        Ce champ est obligatoire !
        </div>
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.prix, {
            label: "Prix *",
            attr: { class: "form-control", placeholder: "Prix..." }
          })
        }}
        <div
          id="errorPrix"
          class="alert alert-danger text-center"
          role="alert"
          hidden="true"
        >
        Ce champ est obligatoire !
        </div>
      </div>
      
      <div class="form-group mt-3">
        {{
          form_row(form.quantite, {
            label: "Quantité *",
            attr: {
              class: "form-control",
              placeholder: "Quantité...",
              min:0
            }
          })
        }}
        <div
          id="errorQte"
          class="alert alert-danger text-center"
          role="alert"
          hidden="true"
        >
        Ce champ doit être obligatoirement positif !
        </div>
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.lienVideo, {
            label: "Lien d'une vidéo",
            attr: { class: "form-control", placeholder: "Lien vidéo..." }
          })
        }}
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.images, {
            label: "Choisissez vos images ",
            attr: { class: "form-control" }
          })
        }}
        <div class="row">
            {% for image in produit.images %}
                <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
                    <img
                 src="{{asset('/img/produits/'~image.titre)}}"
                 class="img-fluid img-thumbnail imgs-prod"
                 alt="{{ produit.nom }}"
                 width="100"
                 height="100"
               />
               <a href="{{path('app_image_produit_delete',{'image':image.id})}}" class="btn btn-danger">Supprimer</a>
                </div>
            {% endfor %}
        </div>
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.description, {
            label: "Description *",
            attr: { class: "form-control", placeholder: "Description..." }
          })
        }}
        <div
          id="errorDescription"
          class="alert alert-danger text-center"
          role="alert"
          hidden="true"
        >
        Ce champ est obligatoire !
        </div>
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.dateLivraison, {
            label: "Date de livraison *",
            attr: { class: "form-control", placeholder: "Date de livraison..." }
          })
        }}
      </div>
      <div class="form-group mt-3">
        {{
          form_row(form.prixLivraison, {
            label: "Frais de livraison *",
            attr: { class: "form-control", placeholder: "Frais de livraison..." }
          })
        }}
        <div
          id="errorFrais"
          class="alert alert-danger text-center"
          role="alert"
          hidden="true"
        >
        Ce champ doit être obligatoirement un numéro !
        </div>
      </div>
      <!--  -->
<div class="form-group mt-3">
  {{
    form_row(form.poids, {
      label: "poids en Kg ",
      attr: { class: "form-control", placeholder: "Poids..." }
    })
  }}
 
</div>
<!--  -->
      <div class="text-center d-grid gap-2 mt-5 mt-md-5 mt-lg-5 mt-5">
        <button type="submit" class="btn btn-primary" id="envoyer">
          Modifier
        </button>
      </div>
      {{ form_end(form) }}
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xxl-4"></div>
  </div>
</div>
<div class="container-fluid">
  <br><br><br><br><br>
</div>
<footer>
  <div class="row">
   <div class="col-12 col-md-12 col-lg-12 col-xxl-12 text-center">
<p style="color:white;"><i class="fa fa-facebook-official w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-twitter w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-instagram w3-hover-opacity" style="color: white;"></i> <br> &copy; 2021 SAHEELHA. Tous les droits sont réservés</p>
   </div>
  </div>
</footer>
<script>
  // declaration avec le dom
  var isValide=[true,true,true,true,true];
 var envoyer=document.getElementById('envoyer');
 var nom=document.getElementById('ajouter_produit_nom');
 var prix=document.getElementById('ajouter_produit_prix');
 var quantite=document.getElementById('ajouter_produit_quantite');
 var description=document.getElementById('ajouter_produit_description');
 var livraison=document.getElementById('ajouter_produit_prixLivraison');
 // gestion des événements
 ///
 nom.addEventListener('focus',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorNom');
     error.hidden=false;
     isValide[0]=false;
   }
  
 });
 nom.addEventListener('focusout',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorNom');
     error.hidden=false;
     isValide[0]=false;
   }
   else{
    let error=document.getElementById('errorNom');
     error.hidden=true;
     isValide[0]=true;
   }
 });
 //////////////// Prix
 prix.addEventListener('focus',function(e) {
  let a=parseFloat(this.value);
  if(isNaN(a)==false){
    if(a<0){
     let error=document.getElementById('errorPrix');
     error.hidden=false;
     isValide[1]=false;
   }
   else{
    let error=document.getElementById('errorPrix');
     error.hidden=true;
     isValide[1]=true;
   }
  }
  else{
    let error=document.getElementById('errorPrix');
     error.hidden=false;
     isValide[1]=false;
  }
  
 });
 prix.addEventListener('focusout',function(e) {
  let a=parseFloat(this.value);
  if(isNaN(a)==false){
    if(a<0){
     let error=document.getElementById('errorPrix');
     error.hidden=false;
     isValide[1]=false;
   }
   else{
    let error=document.getElementById('errorPrix');
     error.hidden=true;
     isValide[1]=true;
   }
  }
  else{
    let error=document.getElementById('errorPrix');
     error.hidden=false;
     isValide[1]=false;
  }
 });
 /////// Quantité
 quantite.addEventListener('focus',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorQte');
     error.hidden=false;
     isValide[2]=false;
   }
  
 });
 quantite.addEventListener('focusout',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorQte');
     error.hidden=false;
     isValide[2]=false;
   }
   else{
    let error=document.getElementById('errorQte');
     error.hidden=true;
     isValide[2]=true;
   }
 });
 /////////////////// Description
 description.addEventListener('focus',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorDescription');
     error.hidden=false;
     isValide[3]=false;
   }
  
 });
 description.addEventListener('focusout',function(e) {
   if(this.value.length==0){
     let error=document.getElementById('errorDescription');
     error.hidden=false;
     isValide[3]=false;
   }
   else{
    let error=document.getElementById('errorDescription');
     error.hidden=true;
     isValide[3]=true;
   }
 });
 ////////////////////
 livraison.addEventListener('focus',function(){
  let a=parseFloat(this.value);
  if(isNaN(a)==false){
    if(a<0){
     let error=document.getElementById('errorFrais');
     error.hidden=false;
     isValide[4]=false;
   }
   else{
    let error=document.getElementById('errorFrais');
     error.hidden=true;
     isValide[4]=true;
   }
  }
  else{
    let error=document.getElementById('errorFrais');
     error.hidden=false;
     isValide[4]=false;
  }
 });
 livraison.addEventListener('focusout',function(){
  let a=parseFloat(this.value);
  if(isNaN(a)==false){
    if(a<0){
     let error=document.getElementById('errorFrais');
     error.hidden=false;
     isValide[4]=false;
   }
   else{
    let error=document.getElementById('errorFrais');
     error.hidden=true;
     isValide[4]=true;
   }
  }
  else{
    let error=document.getElementById('errorFrais');
     error.hidden=false;
     isValide[4]=false;
  }
 });
 envoyer.addEventListener('click',function(e){
   console.log(isValide);
   if(siValide()==false){
    e.preventDefault();
   }
 });
 function siValide() {
   let i=0;
   while(i<isValide.length){
     if(isValide[i]==false){
       return false;
     }
     i+=1;
   }
   return true;
 }
 //envoyer.addEventListener('click')
</script>
{% endblock %}
