{% extends "base.html.twig" %}
{% block title %}Ajouter une catégorie{% endblock %}
{% block body %}
<style>
  footer{
    background-color: #1a2c2d;
    width: 100%;
    color: white;
    height: auto;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    font-family: calibre;
    margin-top: 25px;
  }
  footer div i{
    color: white;
  }
  footer i:hover{
        color: grey;
      }

      .titre{
        color:#30a7ab;
        font-size: xx-large;
        text-decoration: none;
        text-transform: uppercase;
		font-weight:bold;
      }
      .titre span:hover{
        text-decoration: none;
        color: blue;
        width: auto;
      }
</style>
<div class="Container-fluid">
    <br><br><br><br><br>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
      <h1 class="titre text-center"><span>Ajouter une catégorie</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
    <div class="col-12 col-md-12 col-lg-4 col-xxl-4">
      {{form_start(form)}}
<div class="from-group">
  {{
    form_row(form.titre, {
      label: "Titre *",
      attr: { class: "form-control", placeholder: "Titre..." }
    })
  }}
  <div id="errorTitre" class="alert alert-danger text-center" role="alert" hidden="true" >
<p>Ce champ est obligatoire !</p>
  </div>
</div>
<div class="form-group">
  {{
    form_row(form.icone, {
      label: "icone *",
      attr: { class: "form-control" }
    })
  }}
  
</div>
<div class="form-group">
  {{
    form_row(form.description, {
      label: "Description *",
      attr: { class: "form-control",placeholder:"Description..." }
    })
  }}
  <div id="errorDescription" class="alert alert-danger text-center" role="alert" hidden="true" >
    <p>Ce champ est obligatoire !</p>
      </div>
</div>
  <div class="form-group text-center mt-5">
    <button type="submit" class="btn btn-primary" id="envoyer">Envoyer</button>
  </div>
  
{{form_end(form)}}
    </div>
    <div class="col-12 col-md-12 col-lg-4 col-xxl-4"></div>
  </div>
</div>
<footer>
  <div class="row">
   <div class="col-12 col-md-12 col-lg-12 col-xxl-12 text-center">
<p style="color:white;"><i class="fa fa-facebook-official w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-twitter w3-hover-opacity" style="color: white;"></i>
  <i class="fa fa-instagram w3-hover-opacity" style="color: white;"></i> <br> &copy; 2021 SAHEELHA. Tous les droits sont réservés</p>
   </div>
  </div>
</footer>
<script>
  var valide=[false,false];
  var titre=document.getElementById('ajouter_categorie_titre');
  var description=document.getElementById('ajouter_categorie_description');
  var envoyer=document.getElementById('envoyer');
  titre.addEventListener('focus',function(){
    let error=document.getElementById('errorTitre');
    if(this.value.length == 0){
      error.hidden=false;
      valide[0]=false;
    }
    else{
      error.hidden=true;
      valide[0]=true;
    }
  });
  titre.addEventListener('focusout',function(){
    let error=document.getElementById('errorTitre');
    if(this.value.length == 0){
      error.hidden=false;
      valide[0]=false;
    }
    else{
      error.hidden=true;
      valide[0]=true;
    }
  });
  description.addEventListener('focus',function(){
    let error=document.getElementById('errorDescription');
    if(this.value.length == 0){
      error.hidden=false;
      valide[1]=false;
    }
    else{
      error.hidden=true;
      valide[1]=true;
    }
  });
  description.addEventListener('focusout',function(){
    let error=document.getElementById('errorDescription');
    if(this.value.length == 0){
      error.hidden=false;
      valide[1]=false;
    }
    else{
      error.hidden=true;
      valide[1]=true;
    }

  });
  envoyer.addEventListener('click',function(e){
    if(valide[0]==true && valide[1]==true){}
    else{
      e.preventDefault();
    }
  });
</script>
{% endblock %}